<div class="section-container">

    <div class="title-container">
        <h2>Elige a tu proveedor</h2>

        <span class="nav-spacer"></span>

        <mat-divider></mat-divider>
    </div>

    <div class="card-container">

        <mat-card class="provider-card" (click)="onProviderCardClick(provider.id)" *ngFor="let provider of providers">
            <mat-card-title-group>
                <img *ngIf="provider.logo !== ''" mat-card-lg-image [src]="provider.logo" alt="Logo" />
                <img *ngIf="provider.logo === ''" mat-card-lg-image src="./assets/img/catalog/no-image.jpg"
                    alt="Provider Picture" />
                <div class="provider-content">
                    <mat-card-title>{{ provider.nombre }}</mat-card-title>
                    <div class="provider-rating-category">
                        <mat-card-subtitle class="mat-rating">
                            <mat-icon>star</mat-icon>{{ provider.calificacion }}
                        </mat-card-subtitle>
                        <mat-card-subtitle>{{
                            provider.categoria.nombre | json
                            }}</mat-card-subtitle>
                    </div>
                    <mat-card-subtitle>{{ provider.direccion }}</mat-card-subtitle>
                </div>
            </mat-card-title-group>
        </mat-card>
    </div>
</div>
