.title-container {
    margin: 15px;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.mat-card {
    padding: 1px;
}

.provider-card {
    margin: 10px;
    max-width: 50%;

    :hover {
        cursor: pointer;
    }

    @media (min-width: 700px) and (max-width: 1008px) {
        // max-width:100%;
    }

    @media (max-width: 1008px) {
        max-width: 100%;
        width: 100%;
    }

}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.mat-card-lg-image {
    width: 152px;
    height: 100%;
}

.mobile-provider-card {
    margin: 10px;
    max-width: 100%;

    :hover {
        cursor: pointer;
    }
}

.mat-card-title {
    @media (max-width: 1050px) {
        font-size: 18px;
    }
}

.header-image {
    background-size: cover;
}

.mat-card-image {
    padding: 5px;
}

.mat-provider-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}   
.mat-rating {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
}

.mat-rating .mat-icon{
    color: #d3930b;
}

.mat-card-title-group {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;

    @media (max-width: 700px) {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.mat-card-title-group img{
    margin-right: 5px;
}