
.apoyo {
    background: green;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  #teAyudamos{
    padding:7rem 0;
    background:url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260) center center / cover no-repeat fixed;
  }