<section class="apoyo">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus blanditiis commodi ratione aut dignissimos molestias aliquid neque doloribus similique excepturi eum, eius eligendi dolorem nisi beatae porro architecto expedita tempore.
  </section>
  
  
  <section id="teAyudamos" class="text-center text-white">
   
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <h2 class="display-4 font-weight-bold">¿CÓMO PODEMOS AYUDARTE?</h2>
                      <p>Ofrecemos una amplia gama de procedimientos para ayudarlo a obtener la sonrisa perfecta.</p>
                      <a href="#" class="btn btn-primary">Reservar una cita</a>
                  </div>
              </div>
  
          </div>
     </section>
  
  <section class="apoyo">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus blanditiis commodi ratione aut dignissimos molestias aliquid neque doloribus similique excepturi eum, eius eligendi dolorem nisi beatae porro architecto expedita tempore.
  </section>