<h1 mat-dialog-title>{{ orderProduct.producto.descripcion }}</h1>
<div mat-dialog-content>
    <p>Precio unitario: {{ orderProduct.precio | currency }}</p>
    <p><strong>Total: {{ productTotal | currency }}</strong></p>
    <mat-form-field appearance="fill">
        <mat-label>Cantidad</mat-label>
        <input
            matInput
            [(ngModel)]="orderProduct.cantidad"
            (keyup)="calculateTotal()"
            (keyup.enter)="addProduct()"
            type="number"
            autocomplete="off"
            cdkFocusInitial
        />
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button color="default" (click)="cancel()">Cancelar</button>
    <button
        mat-raised-button
        color="primary"
        [disabled]="disableAddProductButton()"
        (click)="addProduct()"
    >
        Agregar
    </button>
</div>
