@import "../../../../../colors.scss";

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    margin: 10px;
    width: 45%;
    padding: 5px;

    :hover {
        cursor: pointer;
    }

    @media (min-width: 700px) and (max-width: 1008px) {
        // max-width:100%;
    }

    @media (max-width: 1008px) {
        width: 100%;
    }

}

img {
    height: 50%;
    width: 50%;
    object-fit: contain;
}

.mat-card-lg-image {
    width: 75px;
    height: 75px;
    padding: 3px;
}

.mobile-provider-card {
    margin: 10px;
    max-width: 100%;

    :hover {
        cursor: pointer;
    }
}

.mat-card-title {
    font-size: 14px;
    @media (max-width: 1050px) {
        font-size: 18px;
    }
}

.header-image {
    background-size: cover;
}

.mat-card-image {
    padding: 5px;
}

.mat-provider-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}   
.mat-rating {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
}

.mat-rating .mat-icon{
    color: #d3930b;
}

.mat-card-title-group {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.mat-card-title-group img{
    margin-right: 5px;
}

.mat-product-selected {
    background-color: $light-success;
}

.fade-out {
    opacity: 0.1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.fade-in {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}