@import "../../../../colors.scss";

.login-container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $primary;

    .login-wrapper {
        max-width: 20em;
        text-align: center;

        .login-image {
            padding: 5px;
            width: 50%;
            height: 50%;
        }
    }
}

.avatar {
    vertical-align: middle;
    margin-bottom: 2em;
    width: 50%;
    height: 50%;
}

.mat-form-field {
    width: 80%;
}

.mat-raised-button {
    width: 100%;
}

.mat-card-title {
    color: $primary;
}