@import "../../../../../colors.scss";

.logo {
    width: 30%;
}

.zones {
    transition: transform .2s;
    /* Animation */
    width: 50%;
}

.zones:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.no-parallax-title {
    background: $primary;
    background: linear-gradient(180deg, $dark-primary 0%, $primary 57%);
    z-index: 999;
}

.no-parallax {
    background: $primary;
    background: linear-gradient(340deg, $dark-primary 0%, $primary 57%);
    z-index: 999;
}

section {
    transform-style: preserve-3d;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: $white;
    flex-direction: column;
}

.section-title {
    text-align: center;
    font-size: 3rem !important;
    font-family: sans-serif !important;

    @media (max-width: 1008px) {
        font-size: 2rem !important;
    }
}

.section-content {
    padding: 0 10px;
    font-size: 2rem !important;
    font-family: sans-serif !important;

    @media (max-width: 1008px) {
        font-size: 1rem !important;
    }
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

ul.a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: circle;
}

.bg::after {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url("../../../../../assets/img/centralia/indigo_polygon_background.png");
    background-size: cover;
}