<div class="no-parallax">
    <section>
        <p class="section-title">¿Qué es Centralia?</p>
    </section>
    <section>
        <p class="section-content">
            Centralia es una plataforma digital que te ayuda a incrementar tus ventas. Vinculandote con clientes que se
            encuentran en tus zonas de distribución y que están buscando tus productos.
        </p>
    </section>
</div>

<div class="parallax">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="section-title">¿Cómo funciona?</p>
                <p class="section-content"> Los clientes* entran a nuestra plataforma, elijen a los proveedores que su negocio necesita,
                    seleccionan los artículos y realizan sus pedidos.

                    Cómo proveedor tendrás un listado con todos los pedidos organizados por zona.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="no-parallax">
    <section>
        <p class="section-title">Primera Fase</p>
        <h2>Etapa Beta</h2>
    </section>
    <section>
        <div>
            <p class="section-content">
                Alcance total: 1,400 tiendas
            </p>
        </div>
    </section>
</div>

<div class="parallax">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="section-content">Cómo proveedor, Tu elijes que día de la semana realizaras las entregas. Así como el monto mínimo para
                    que los clientes te realicen pedido.</p>
            </div>
        </div>

    </div>
</div>

<div class="no-parallax">
    <section>
        <h1 class="section-title">Ventajas de usar Centralia</h1>
    </section>
    <section>
        <div>
            <p class="section-content">
                -Aumenta tus ventas y capta nuevos clientes
- Facilita la planeación de rutas y tiempos de entrega
- Optimiza el control de mermas
   + Transporta solo la mercancía necesaria
   + Produce según la demanda real de tus clientes
- estandariza la toma de pedidos de tus clientes
- disponibles desde cualquier dispositivo con acceso a internet y sin la necesidad de descargar una APP

            </p>
        </div>
    </section>
</div>