.card-container {
    display: flex;
    flex-wrap: wrap;
}

.provider-card {
    margin: 10px;
    max-width: 50%;

    :hover {
        cursor: pointer;
    }

    @media (min-width: 700px) and (max-width: 1008px) {
        // max-width:100%;
    }

    @media (max-width: 1008px) {
        max-width: 100%;
    }

}

.mobile-provider-card {
    margin: 10px;
    max-width: 100%;

    :hover {
        cursor: pointer;
    }
}

.mat-card-title {
    @media (max-width: 1050px) {
        font-size: 18px;
    }
}

.header-image {
    background-size: cover;
}

.mat-card-image {
    padding: 5px;
}

.mat-provider-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}   
.mat-rating {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
}

.mat-rating .mat-icon{
    color: #d3930b;
}

.mat-card-title-group {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;

    @media (max-width: 700px) {
        flex-direction: column;
    }
}

.mat-card-title-group img{
    margin-right: 5px;
}