<h2 mat-dialog-title>Detalles del Pedido</h2>

<mat-divider></mat-divider>

<mat-dialog-content class="mat-typography">
    <div class="order-detail-tile">
    </div>

    <div class="order-status-tile">
        <!-- <h3 [ngStyle]="{
            color: _orderService.getStatusColor(order.status!)
        }">Estatus: {{ _orderService.getStatus(order.estatus!.id) }}</h3> -->
    </div>

    <h2>Total: {{ order.total | currency }}</h2>

    <mat-divider></mat-divider>

    <!-- <order-detail-table [orderList]="order.description"></order-detail-table> -->
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions align="end">
    <!-- <button mat-raised-button *ngIf="enableActionButton(2)" (click)="onChangeStatus(3)" [mat-dialog-close]="order"
        color="accent">Pedido Entregado</button>

    <button mat-raised-button *ngIf="enableActionButton(1)" (click)="onChangeStatus(2)" [mat-dialog-close]="order"
        color="primary">Atender Pedido</button> -->

    <button mat-raised-button mat-dialog-close [mat-dialog-close]="order">Cerrar</button>
</mat-dialog-actions>
