<h2 mat-dialog-title>Pedidos</h2>
<mat-divider></mat-divider>
<div mat-dialog-content>
    <div class="card-container">
        <mat-card class="provider-card"
            *ngFor="let provider of orderList"
            (click)="providerClick(provider.proveedor_id)">
            <mat-card-title-group>
                <img mat-card-lg-image [src]="'/assets/img/providers/empty_provider.png'"
                    alt="Provider Picture" />
                <mat-card-title>{{ provider.proveedor_id }}</mat-card-title>
                <mat-card-subtitle>Productos: {{ provider.productos.length }}</mat-card-subtitle>
                <mat-card-subtitle>Total: {{ provider.total | currency}}</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card>
    </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-button color="default" [mat-dialog-close]="orderList">Cancelar</button>
</div>
