<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Centralia</span>

        <span class="nav-spacer"></span>

        <label>{{ user.nombre }}</label>

        <img
            *ngIf="user.avatar"
            class="avatar mat-elevation-z4"
            [src]="user.avatar"
            (click)="openUserActionsDialog()"
        />
        <img
            *ngIf="!user.avatar"
            class="avatar mat-elevation-z4"
            src="./assets/img/profile/vendedor.png"
            (click)="openUserActionsDialog()"
        />
    </mat-toolbar-row>
</mat-toolbar>
