table {
    width: 100%;
}

.mat-column-quantity {
    text-align: center;
}

.mat-column-actions {
    text-align: right;
}

.mat-column-productPrice {
    display: none;
}

@media (max-width: 700px) {
    .mat-column-product,
    .mat-column-price {
        display: none;
    }

    .mat-column-productPrice {
        display: table-cell;
    }
}
