.mat-dialog-title {
    text-align: center;
}

.order-detail-tile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-status-tile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
