<div class="section-container">

    <div class="title-container">
        <h2>Proveedores</h2>
    
        <span class="nav-spacer"></span>
    
        <mat-divider></mat-divider>
    </div>

        <div class="card-container" >

            <mat-card
                class="provider-card"
                (click)="onProviderCardClick(provider.id)"
                *ngFor="let provider of providers"
            >
                <mat-card-title-group>
                    <img
                        mat-card-lg-image
                        [src]="provider.img"
                        alt="Provider Picture"
                    />
                    <mat-card-title>{{ provider.name }}</mat-card-title>
                    <mat-card-subtitle class="mat-rating"
                        ><mat-icon>star</mat-icon
                        >{{ provider.rating }}</mat-card-subtitle
                    >
                    <mat-card-subtitle>{{
                        provider.description
                    }}</mat-card-subtitle>
                    <mat-card-subtitle>{{ provider.address }}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card>
        </div>
</div>
