<h2 mat-dialog-title>Resumen de Pedido</h2>

<mat-divider></mat-divider>

<mat-dialog-content class="mat-typography">
    <div class="client-data">
        <mat-form-field appearance="outline">
            <mat-label>Nombre/Negocio</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="client_name">
            <mat-hint>Inngrese el nombre con el que el vendedor lo identifica</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="client_address">
            <mat-hint>Ingrese su direccción completa (calle, numero, CP)</mat-hint>
          </mat-form-field>
    </div>

    <order-table></order-table>
</mat-dialog-content>

<mat-divider></mat-divider>

<h2 class="order-total">Total: {{orderTotal | currency}}</h2>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cerrar</button>
    <button
        mat-raised-button
        color="primary"
        [mat-dialog-close]="order"
        cdkFocusInitial
        [disabled]="order.length < 1 || (client_name.length < 3 || client_address.length < 3)"
        (click)="saveOrder()"
    >
        Hacer Pedido
    </button>
</mat-dialog-actions>
