<mat-card-content>
    <h2 mat-dialog-title>Resumen de Pedido</h2>

    <mat-divider></mat-divider>

    <order-table></order-table>
</mat-card-content>

<h1 class="order-total">Total: {{ orderTotal | currency }}</h1>

<mat-card-actions align="end">
    <button mat-raised-button mat-dialog-close *ngIf="data.dialogMode">Cerrar</button>

    <button
        *ngIf="data.dialogMode"
        mat-raised-button
        color="primary"
        [mat-dialog-close]="order"
        cdkFocusInitial
        (click)="saveOrder()"
    >
        Enviar Pedido
    </button>
    
    <button
        *ngIf="!data.dialogMode"
        mat-raised-button
        color="primary"
        cdkFocusInitial
        (click)="saveOrder()"
    >
        Enviar Pedido
    </button>
</mat-card-actions>
