.mat-dialog-title {
    text-align: center;
}

table {
    width: 100%;
}

.mat-column-quantity {
    text-align: center;
}

.mat-column-actions {
    text-align: right;
}

.order-total {
    text-align: right;
}