.mat-dialog-title {
    text-align: center;
}

.client-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

table {
    width: 100%;
}

.mat-column-quantity {
    text-align: center;
}

.mat-column-actions {
    text-align: right;
}

.order-total {
    text-align: right;
}