<div
    class="section-container catalog-container"
    [class.element-fadeout]="buttonFadeOut"
    [class.element-fadein]="!buttonFadeOut"
>
    <div class="title-container">
        <h2>Catalogo</h2>

        <span class="nav-spacer"></span>

        <mat-divider></mat-divider>
    </div>

    <div class="products-container">
        <div class="table-container">
            <catalog-table [loading]="loading"></catalog-table>
        </div>
        <div class="cart-container">
            <mat-card color="primary" class="mat-elevation-z5">
                <mat-card-content>
                    <h2 mat-dialog-title>Resumen de Pedido</h2>

                    <mat-divider></mat-divider>

                    <order-table></order-table>

                    <mat-divider></mat-divider>
                </mat-card-content>

                <h1 class="order-total">Total: {{ orderTotal | currency }}</h1>
                <mat-card-actions align="end">
                    <button
                        mat-raised-button
                        color="primary"
                        [disabled]="order.length < 1"
                    >
                        Hacer Pedido
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<div
    class="float-order-button"
    [class.element-scale]="buttonFadeOut"
    [class.element-scale]="!buttonFadeOut"
>
    <a
        mat-mini-fab
        color="primary"
        matBadge="{{ productsAdded }}"
        matBadgeColor="warn"
        (click)="openOrderDialog()"
    >
        <mat-icon>shopping_cart</mat-icon>
    </a>
</div>
