.catalog-container {
    margin-top: 140px;
}

.products-container {
    display: flex;
}

.client-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.table-container {
    width: 50%;
    padding-right: 5px;
}

.cart-container {
    width: 50%;
    padding-left: 5px;
}

.title-container {
    margin-bottom: 15px;
}

.order-total {
    text-align: right;
}

.float-order-button {
    visibility: hidden;
}

@media (max-width: 1008px) {
    .table-container {
        width: 100%;
        padding-right: 0px;
    }

    .cart-container {
        display: none;
    }

    .float-order-button {
        visibility: visible;
        z-index: 5;
        position: fixed;
        display: flex;
        align-self: flex-end;
        bottom: 15px;
        margin-left: -15px;
    }
}
