<div class="header">
    <section class="no-parallax-title">
        <img class="logo" src="./assets/img/centralia/logo-centralia.jpeg" />
        <h2 class="section-content">
            Centralia es una plataforma de levantamiento de pedidos de negocios a proveedores
        </h2>
        <h1 class="section-title">
            Haz tu pedido
        </h1>
        <button mat-raised-button (click)="onStartClick()">Comenzar</button>
    </section>

</div>

<div class="content">
    <div class="info">
        <div class="info-column">
            <h1 class="info-title">Proveedores</h1>
            <h2 class="info-content">información para proveedores</h2>
            <button mat-raised-button color="primary" (click)="onProvidersClick()">Más información</button>
        </div>
        <div class="info-column">
            <h1 class="info-title">Negocios</h1>
            <h2 class="info-content">información para negocios</h2>
            <button mat-raised-button color="primary" (click)="onBusinessClick()">Más información</button>
        </div>
    </div>
</div>