<div class="section-container">
    <div class="title-container">
        <h2>Productos</h2>

        <span class="nav-spacer"></span>

        <mat-divider></mat-divider>

        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </div>

    <div class="products-container">
        <div class="table-container">
            <products-list *ngIf="displayProducts" [productFade]="productFade" [displayProducts]="displayProducts"></products-list>
        </div>
    </div>
</div>

<div class="float-total-button">
    <button mat-raised-button color="primary" matBadge="{{ productsAdded }}" matBadgeColor="warn"
        (click)="openOrderDialog()">
        <mat-icon>shopping_cart</mat-icon> Total: {{ orderTotal | currency }}
    </button>
</div>
