<div class="user-info">
    <img *ngIf="userInfo.avatar && isAuthenticated()" class="avatar mat-elevation-z4" [src]="userInfo.avatar" />

    <img *ngIf="!userInfo.avatar && isAuthenticated()" class="avatar mat-elevation-z4" src="./assets/img/profile/vendedor.png" />
    
    <h3 *ngIf="userInfo && isAuthenticated()" class="name">{{ userInfo.nombre }} {{ userInfo.apellido }}</h3>
</div>

<mat-divider></mat-divider>

<mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let item of _global.MENU_ITEMS.BUSINESS" (click)="onMenuItemClick(item.route)">
      {{item.label}}
    </mat-list-option>

    <mat-divider></mat-divider>

    <mat-list-option *ngIf="isAuthenticated()" (click)="logout($event)">
        <mat-icon matListIcon>power_settings_new</mat-icon>
        <span >Cerrar Sesión</span>
    </mat-list-option>
  </mat-selection-list>