<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Centralia</span>

        <span class="nav-spacer"></span>

        <button class="button-cart-big" mat-raised-button>
            5 productos <mat-icon>shopping_cart</mat-icon>
        </button>

        <button
            class="button-cart-small"
            mat-mini-fab
            color="default"
            matBadge="{{ productsAdded }}"
            matBadgeColor="accent"
        >
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <!-- Include text description of the icon's meaning for screen-readers -->
        <span class="cdk-visually-hidden">
            Carrito de compras con {{ productsAdded }} productos
        </span>

        <span class="nav-spacer"></span>

        <button mat-raised-button color="accent">Hacer pedido</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <mat-form-field color="default" appearance="standard" class="catalog-category">
            <mat-label>Categorias</mat-label>
            <mat-select>
                <mat-option *ngFor="let category of categories" value="id">{{category.name}}</mat-option>
            </mat-select>
            <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
        </mat-form-field>

        <mat-form-field
            color="primary"
            appearance="standard"
            class="catalog-search-field"
        >
            <mat-label>Buscar Productos</mat-label>
            <input matInput (keyup)="onSearch($event)" placeholder="" />
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </mat-toolbar-row>
</mat-toolbar>
