<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Centralia</span>

        <span class="nav-spacer"></span>

        <button
            class="button-cart-big"
            mat-raised-button
            color="accent"
            (click)="openCartDialog()"
        >
            Pedido ({{ productsAdded }} Prod. {{orderTotal | currency}})
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="catalogToolbar">
        <mat-form-field
            color="default"
            appearance="standard"
            class="catalog-category"
        >
            <mat-label>Categorias</mat-label>
            <mat-select (selectionChange)="onCategorySelect($event.value)">
                <mat-option value="N">TODO</mat-option>
                <mat-option
                    *ngFor="let category of categories"
                    value="{{ category.category_id }}"
                    >{{ category.name }}</mat-option
                >
            </mat-select>
        </mat-form-field>

        <mat-form-field
            color="primary"
            appearance="standard"
            class="catalog-search-field"
        >
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="onSearch($event)" placeholder="" />
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </mat-toolbar-row>
</mat-toolbar>
