$primary: #39a6db;
$light-primary: #b8e9f7;
$pale-primary: #e3f7fc;
$dark-primary: #236292;
$light-success: #b3d4b9;
$white: #fff;
$light-gray: #d7d7d7;

$success: #5b9765;
$error: #ff5c5c;
$alert: #fcc778;
$info: #6aaaff;