$primary: #673ab7;
$light-primary: #b3a0d1;
$pale-primary: #dcc8ff;
$dark-primary: #261642;
$light-success: #b3d4b9;
$white: #fff;
$light-gray: #d7d7d7;

$success: #5b9765;
$error: #ff5c5c;
$alert: #fcc778;
$info: #6aaaff;