@import "colors.scss";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.section-container {
    padding-bottom: 5px;
}

.title-toolbar {
    background-color: $light-gray;
}

.nav-spacer {
    flex: 1 1 auto;
}
