<div class="user-info">
    <img *ngIf="userInfo.img_profile" class="avatar mat-elevation-z4" [src]="userInfo.img_profile" />
    
    <img *ngIf="!userInfo.img_profile" class="avatar mat-elevation-z4" src="./assets/img/profile/vendedor.png" />
    
    <h3 class="name">{{ userInfo.name }} {{ userInfo.lastname }}</h3>
</div>

<mat-divider></mat-divider>

<mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let item of _global.MENU_ITEMS.BUSINESS" (click)="onMenuItemClick(item.route)">
      {{item.label}}
    </mat-list-option>

    <mat-divider></mat-divider>

    <mat-list-option (click)="logout($event)">
        <mat-icon matListIcon>power_settings_new</mat-icon>
        <span >Cerrar Sesión</span>
    </mat-list-option>
  </mat-selection-list>
