<h2 mat-dialog-title>Resumen de Pedido</h2>

<mat-divider></mat-divider>
<mat-card-content>
    <!-- <cart-table></cart-table> -->
</mat-card-content>

<h1 class="order-total">Total: {{ orderTotal | currency }}</h1>

<mat-card-actions align="end">
    <button mat-button color="default" [mat-dialog-close]="order">
        Cerrar
    </button>

    <button mat-button color="default" (click)="backButtonClick()">
        Proveedores
    </button>

    <button mat-raised-button color="primary" [mat-dialog-close]="order" cdkFocusInitial
        [disabled]="disableSaveOrderButton()" (click)="saveOrder()">
        Enviar Pedido
    </button>
</mat-card-actions>

