<div class="catalog-container">
    
<mat-toolbar class="title-toolbar mat-elevation-z5">
    <span>Catalogo de productos</span>

    <span class="nav-spacer"></span>

    
</mat-toolbar>

<mat-table
    matSort
    *ngIf="!loading"
    [dataSource]="dataSource"
    class="mat-elevation-z5"
>
    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            >Descripción</mat-header-cell
        >
        <mat-cell *matCellDef="let element" data-label="Descripción">{{
            element.description
        }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            >Precio</mat-header-cell
        >
        <mat-cell *matCellDef="let element" data-label="Precio">{{
            element.price
        }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button
                mat-icon-button
                aria-label="Example icon button with a home icon"
            >
                <mat-icon>remove</mat-icon>
            </button>

            <mat-form-field class="quantity-field" appearance="standard">
                <mat-label>Cantidad</mat-label>
                <input matInput />
            </mat-form-field>

            <button mat-icon-button color="primary">
                <mat-icon>add</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
            No se encontró "{{ dataSource.filter }}"
        </td>
    </tr>
</mat-table>

<mat-card class="table-loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</mat-card>

<mat-paginator
    [pageSizeOptions]="[10, 20, 30]"
    class="mat-elevation-z5"
    aria-label="Select page of users"
></mat-paginator>

</div>